<ion-view view-title="Furniture Selection">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Text Search</div>
      <div class="item item-body">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search Furniture">
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Browse Listings</div>
      <div class="item item-body">
        <div>
          Jakarta Deep Seating
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <div>
          Coco Island Cushion Dining
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <div>
          English Garden Cushion Dining
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
